h1 {
  text-align: center;
  border-top: 3px solid grey;
  border-bottom: 2px solid grey;
  margin: 25px 20px;
  padding: 25px;
  font-weight: 100;
}

div a {
  margin: 0 18%;
  font-weight: 100;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  color: black;
}

body {
  background-color: lightgrey;
}

img {
  margin: 20px auto;
  box-shadow: 20px 20px 20px 2px;
}

h2 {
  font-weight: 100;
}

p {
  background-color: grey;
}